header {
  display: flex;
  min-height: 500px;
  height: 100vh;
  background-image: url(../images/350x150.png);
  background-size: cover;
  color: #fff;
}

h1 {
  margin: auto;
}
#o {
  color: yellow;
}

p {
  color: blue;
}
.og {
  color: green;
}
p::first-letter {
  color: #ffabab;
  font-weight: bold;
  font-size: 64px;
  float: left;
  margin-top: -20px;
}

@supports (initial-letter: 4) or (-webkit-initial-letter: 4) {
  p::first-letter {
    color: #ffabab;
    font-weight: bold;
    margin-right: 0.5em;
    -webkit-initial-letter: 4;
    initial-letter: 4;
  }
}
